<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Oracle ODP.NET managed config handler (păstrat) -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <!-- Entity Framework section (păstrat) -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!-- appSettings utile -->
  <appSettings>
    <!-- Folder relativ unde salvezi videoclipurile (folosește Server.MapPath("~/App_Data/Videos")) -->
    <add key="VideosFolder" value="~/App_Data/Videos"/>
    <!-- Limita upload în bytes (ex: 524288000 = 500MB).  -->
    <add key="MaxUploadBytes" value="524288000"/>
    <!-- Extensiile permise, folosește pentru validare server-side -->
    <add key="AllowedVideoExtensions" value=".mp4,.mov,.avi,.mkv"/>
    <!-- Log path relativ -->
    <add key="AppLogFolder" value="~/App_Data/Logs"/>
  </appSettings>
  <connectionStrings>
	  <add name="OracleDb" connectionString="User Id=%ORACLE_DB_USER%;Password=%ORACLE_DB_PASSWORD%;
		   Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=%ORACLE_DB_HOST%)(PORT=%ORACLE_DB_PORT%))(CONNECT_DATA=(SERVICE_NAME=%ORACLE_DB_SERVICE_NAME%)))" providerName="Oracle.ManagedDataAccess.Client"/>

	  <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
     connectionString="User Id=%ORACLE_DBCONTEXT_USER%;Password=%ORACLE_DBCONTEXT_PASSWORD%;Data Source=%ORACLE_DBCONTEXT_SOURCE%" />

  </connectionStrings>
  <system.web>
    <!-- în dev poți lăsa debug=true; pentru producție setează debug="false" -->
    <compilation debug="true" targetFramework="4.7.2"/>
    <!-- httpRuntime: maxRequestLength în KB, executionTimeout în secunde -->
    <!-- maxRequestLength = 512000 KB -> 500 MB -->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="512000" executionTimeout="3600"/>
    <!-- sesiune puțin mai lungă (în minute) pentru operații care pot dura -->
    <sessionState mode="InProc" timeout="60"/>
    <!-- customErrors: RemoteOnly afișează erori detaliate local, pagină generică remote -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
    <!-- poți activa requestValidationMode 2.0 dacă ai probleme cu input-uri "HTML-like" -->
    <!-- <httpRuntime requestValidationMode="2.0" /> -->
  </system.web>
  <!-- permite compilatorul Roslyn (păstrat din proiectul inițial) -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <!-- setări la nivel de IIS / request filtering pentru upload mari -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength în bytes (ex: 524288000 = 500MB) -->
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
    <!-- opțional: logare detaliată pentru debugging pe server -->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto"/>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
</configuration>